*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
#main{
    height: 100vh;
    width: 100%;
}
#header{
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    height: 4rem;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 214, 214);
}
#header-img{
    width: 30%;
    height: auto;
}
.nav-link{
    margin-inline: 1rem;
    text-decoration: none;
    color: black;
}

.form-input{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    
}
.form-input h2{
    margin-bottom: 1rem;
    text-align: center;
}

.form-input input{
    display: block;
    
}
#email{
   width: 12rem;
   height: 1.6rem;
   outline: none;
   
}
#email:focus{
    outline: none;
}
#submit{
    margin: 1rem auto;
    width: 7rem;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color:#FEB139 ;
    color: #3e3e3e;
    cursor: pointer;
}
#submit:hover{
    background-color: #3f4f5f;
    color: white;
    transition: all linear 0.5s;
}

.features{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 70px 70px 70px;
    /* border: 2px solid red; */
    margin: auto;
    width: 60%;
    padding: 2rem ;
    gap: 2rem;
    
}
/* .alignment{
    border: 2px solid red;
    align-self: center;
    justify-self: center;
} */
.yellow{
    color: #FEB139;
}


.video-embed > iframe{
    display: block;
   margin:2rem auto;
}

.prices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    grid-template-rows: auto-fit;

    margin:4rem auto;
    width: 60%;

}


.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}
.flex-box h2{
    font-size: 1.4rem;
}
.flex-box p{
    font-size: 1.2rem;
}
.flex-box button{
    margin-top: 1rem;
    width: 7rem;
    height: 1.7rem;
    background-color: #FEB139;
    border: none;
}
.border  h3{
    text-align: center;
    background-color: rgb(174, 177, 174);
    min-height: 2rem;
    padding: 1rem 0;
}

#footer{
    background-color: gray;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: flex-end;
    flex-direction: column;
}
.nest_flex{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
   
}
.nest_flex li{
    padding: 6px;
}

@media (max-width:1047px)
{
   .prices{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    width: 50%;
   }
   .features{
       
    grid-template-columns: 60px 2fr;
    grid-template-rows: 100px 100px 100px;
    width: 90%;
   
}
}

@media (max-width:600px){
    .video-embed > iframe{
        display: block;
       margin:2rem auto;
       width: 70%;
    }
    .prices{
        width: 70%;
    }
    .nav-link{
        margin-inline: .5rem;
    }
    .features{
       
        grid-template-columns: 60px 2fr;
        grid-template-rows: 130px 130px 130px;
        width: 90%;
       
    }
    .features > i{
        font-size: 1rem;
    }

}